<html lang="en">
  <head>
    <title>TEST: Database</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">Fill In</a></li>
            <li role="presentation" class="active"><a href="/database">Database</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Ormuco Test 2017</h3>
      </div>

      <div>

      </div>

      <footer class="footer">
        <p style="text-align: center;">carlos.buelvas@ormuco.com | cbuelvas@gmail.com </p>
      </footer>
    </div>
  </body>
</html>
